<style>

* {
    padding: 0;
    margin: 0;
}

/* portrait mode warning */
#warning-message { display: none; 
background-color: black;
color:white;
font-size:30px;
}

@media only screen and (orientation:portrait){
#wrapper { display:none; }
#warning-message { display:block; }

 }

@media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }
    
body {
    background-color: black;
    color: white;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    cursor: url('images/cursor.cur'), default;

}

    
    
.outer {
    color: white;
    background-color: black;
    width: 95%;
    position: absolute;
    left: 2.5%;
    height: 99%;
    
}

.playlist {
    line-height: 1;
    text-align: justify;
    
}

.bottomtext {
    position: absolute;
    bottom: 0px;
    
}

/* video */

.video {
    position: relative;
    width: 40%;
}


/* youtube */

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}


a:link {
    text-decoration: none;
    color: white;
    
}

a:visited {
    text-decoration: none;
    color: black;
    
}

a:hover {
    text-decoration: underline;
    color: cyan;
}

</style>

